.logo {
  animation: move-up 0.6s cubic-bezier(0, 0.55, 0.45, 1) forwards;

  @keyframes move-up {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
