@use '../variables/breakpoints' as T;

$align-contents: (
  normal,
  center,
  start,
  end,
  between,
  around,
  evenly,
  baseline,
  stretch
);

@each $ac in $align-contents {
  .ac-#{$ac} {
    align-content: $ac;
  }
}

@each $breakpoint, $_ in T.$breakpoints {
  @each $ac in $align-contents {
    @include T.breakpoint($breakpoint) {
      .#{$breakpoint}:ac-#{$ac} {
        align-content: $ac;
      }
    }
  }
}
