.ac-normal {
  align-content: normal;
}

.ac-center {
  align-content: center;
}

.ac-start {
  align-content: flex-start;
}

.ac-end {
  align-content: flex-end;
}

.ac-between {
  align-content: space-between;
}

.ac-around {
  align-content: space-around;
}

.ac-evenly {
  align-content: space-evenly;
}

.ac-baseline {
  align-content: baseline;
}

.ac-stretch {
  align-content: stretch;
}
