@use '../variables/breakpoints' as T;

$align-self: (
  auto,
  flex-start,
  flex-end,
  center,
  baseline,
  stretch
);

@each $as in $align-self {
  .as-#{$as} {
    align-self: $as;
  }
}

@each $breakpoint, $_ in T.$breakpoints {
  @each $as in $align-self {
    @include T.breakpoint($breakpoint) {
      .#{$breakpoint}:as-#{$as} {
        align-self: $as;
      }
    }
  }
}
