@use '../variables/breakpoints' as T;

$align-items: (flex-start, flex-end, center, baseline, stretch);

@each $ai in $align-items {
  .ai-#{$ai} {
    align-items: $ai;
  }
}

@each $breakpoint, $_ in T.$breakpoints {
  @each $ai in $align-items {
    @include T.breakpoint($breakpoint) {
      .#{$breakpoint}:ai-#{$ai} {
        align-items: $ai;
      }
    }
  }
}
