@use '../variables/breakpoints' as T;
@use '../variables/fonts' as fonts;

$font-size: (
  12: fonts.$font-size-12,
  14: fonts.$font-size-14,
  16: fonts.$font-size-16,
  18: fonts.$font-size-18,
  20: fonts.$font-size-20,
  22: fonts.$font-size-22,
  24: fonts.$font-size-22,
  28: fonts.$font-size-28,
  30: fonts.$font-size-30,
  36: fonts.$font-size-36
);

@each $name, $size in $font-size {
  .font-#{$name} {
    font-size: $size;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:font-#{$name} {
      font-size: $size;
    }
  }
}
