@use '../variables/breakpoints' as T;
@use '../variables/fonts' as weight;

$font-weight-values: (
  500: weight.$font-weight-500,
  600: weight.$font-weight-600,
  700: weight.$font-weight-700
);

@each $name, $value in $font-weight-values {
  .weight-#{$name} {
    font-weight: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:weight-#{$name} {
      font-weight: $value;
    }
  }
}
