@use '../variables/breakpoints' as T;

$text-align-values: (
  left: left,
  center: center,
  right: right,
  justify: justify,
  start: start,
  end: end
);

@each $name, $value in $text-align-values {
  .text-#{$name} {
    text-align: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:text-#{$name} {
      text-align: $value;
    }
  }
}
