@use '../variables/breakpoints' as T;

// font-style

$font-styles: ('italic', 'normal');

@each $value in $font-styles {
  .#{$value} {
    font-style: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:#{$value} {
      font-style: $value;
    }
  }
}

// text-decoration-line

$text-decorations: (
  underline: underline,
  overline: overline,
  line-through: line-through,
  no-underline: none
);

@each $name, $value in $text-decorations {
  .#{$name} {
    text-decoration-line: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:#{$name} {
      text-decoration-line: $value;
    }
  }
}

// text-decoration-style

$text-decoration-styles: (solid, double, dotted, dashed, wavy);

@each $value in $text-decoration-styles {
  .decoration-#{$value} {
    text-decoration-style: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:decoration-#{$value} {
      text-decoration-style: $value;
    }
  }
}

// text-underline-offset

$text-underline-offsets: (
  auto: auto,
  0: 0,
  1: 1px,
  2: 2px,
  4: 4px,
  8: 8px
);

@each $name, $value in $text-underline-offsets {
  .underline-offset-#{$name} {
    text-underline-offset: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:underline-offset-#{$name} {
      text-underline-offset: $value;
    }
  }
}

// text-transform

$text-transforms: (
  uppercase: uppercase,
  lowercase: lowercase,
  capitalize: capitalize,
  normal-case: none
);

@each $name, $value in $text-transforms {
  .#{$name} {
    text-transform: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:#{$name} {
      text-transform: $value;
    }
  }
}

// text-overflow

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@each $breakpoint, $_ in T.$breakpoints {
  .#{$breakpoint}:text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

$text-overflows: (ellipsis, clip);

@each $name, $_ in $text-overflows {
  .text-#{$name} {
    text-overflow: $name;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:text-#{$name} {
      text-overflow: $name;
    }
  }
}

// text-wrap

$text-wraps: (wrap, nowrap, balance, pretty);

@each $value in $text-wraps {
  .text-#{$value} {
    text-wrap: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:text-#{$value} {
      text-wrap: $value;
    }
  }
}

// white-space

$white-spaces: (normal, nowrap, pre, pre-line, pre-wrap, break-spaces);

@each $value in $white-spaces {
  .white-space-#{$value} {
    white-space: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:white-space-#{$value} {
      white-space: $value;
    }
  }
}

// word break

$word-breaks: (
  normal: (
    overflow-wrap: normal,
    word-break: normal
  ),
  words: (
    overflow-wrap: break-word
  ),
  all: (
    word-break: break-all
  ),
  keep: (
    word-break: keep-all
  )
);

@each $name, $properties in $word-breaks {
  .break-#{$name} {
    @each $property, $value in $properties {
      #{$property}: $value;
    }
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:break-#{$name} {
      @each $property, $value in $properties {
        #{$property}: $value;
      }
    }
  }
}
