@use '../variables/breakpoints' as T;

$backdrop-blurs: (
  none: 0,
  sm: 4px,
  md: 8px,
  lg: 12px,
  xl: 16px,
  2xl: 24px,
  3xl: 40px,
  4xl: 64px
);

@each $name, $size in $backdrop-blurs {
  .backdrop-blur-#{$name} {
    backdrop-filter: blur($size);
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:backdrop-blur-#{$name} {
      backdrop-filter: blur($size);
    }
  }
}
