@use '../variables/breakpoints' as T;

$display-types: (
  block,
  inline-block,
  inline,
  flex,
  inline-flex,
  grid,
  inline-grid,
  contents,
  list-item,
  none
);

@each $class in $display-types {
  .#{$class} {
    display: $class;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:#{$class} {
      display: $class;
    }
  }
}
