@use '../variables/breakpoints' as T;
@use '../variables/spacings' as space;

$heights: (
  96: space.$spacing-96,
  60: space.$spacing-60,
  48: space.$spacing-48,
  40: space.$spacing-40,
  36: space.$spacing-36,
  32: space.$spacing-32,
  28: space.$spacing-28,
  24: space.$spacing-24,
  20: space.$spacing-20,
  16: space.$spacing-16,
  12: space.$spacing-12,
  8: space.$spacing-8,
  6: space.$spacing-6,
  4: space.$spacing-4,
  2: space.$spacing-2,
  1: space.$spacing-1,
  0: space.$spacing-0
);

@each $name, $value in $heights {
  .h-#{$name} {
    height: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:h-#{$name} {
      height: $value;
    }
  }
}

$height-specials: (
  auto: auto,
  100: 100%,
  min: min-content,
  max: max-content,
  fit: fit-content,
  screen: 100vh
);

@each $name, $value in $height-specials {
  .h-#{$name} {
    height: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:h-#{$name} {
      height: $value;
    }
  }
}
