@use '../variables/breakpoints' as T;

// list-style-position

$list-positions: (inside, outside);

@each $position in $list-positions {
  .list-#{$position} {
    list-style-position: $position;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:list-#{$position} {
      list-style-position: $position;
    }
  }
}

// list-style-type

$list-types: (none, disc, decimal);

@each $type in $list-types {
  .list-#{$type} {
    list-style-type: $type;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:list-#{$type} {
      list-style-type: $type;
    }
  }
}
