@use '../variables/breakpoints' as T;

@for $i from 1 through 12 {
  .order-#{$i} {
    order: $i;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:order-#{$i} {
      order: $i;
    }
  }
}

$order-specials: (
  first: -9999,
  last: 9999,
  none: 0
);

@each $name, $value in $order-specials {
  .order-#{$name} {
    order: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:order-#{$name} {
      order: $value;
    }
  }
}

// user-select

$select-types: (none, text, all, auto);

@each $type in $select-types {
  .select-#{$type} {
    user-select: $type;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:select-#{$type} {
      user-select: $type;
    }
  }
}
