@use '../variables/breakpoints' as T;

$overflow-y-values: (visible, auto, hidden, clip, scroll);

@each $value in $overflow-y-values {
  .overflow-#{$value} {
    overflow: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:overflow-#{$value} {
      overflow: $value;
    }
  }

  .overflow-x-#{$value} {
    overflow-x: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:overflow-x-#{$value} {
      overflow-x: $value;
    }
  }

  .overflow-y-#{$value} {
    overflow-y: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:overflow-y-#{$value} {
      overflow-y: $value;
    }
  }
}
