@use '../variables/breakpoints' as T;

// scroll-snap-align

$scroll-snap-align-values: (start, end, center, none);

@each $value in $scroll-snap-align-values {
  .snap-#{$value} {
    scroll-snap-align: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:snap-#{$value} {
      scroll-snap-align: $value;
    }
  }
}

// scroll-snap-stop

$scroll-snap-stop-values: (normal, always);

@each $value in $scroll-snap-stop-values {
  .snap-#{$value} {
    scroll-snap-stop: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:snap-#{$value} {
      scroll-snap-stop: $value;
    }
  }
}

// touch-action

$touch-action-values: (
  auto,
  none,
  pan-x,
  pan-left,
  pan-right,
  pan-y,
  pan-up,
  pan-down,
  pinch-zoom,
  manipulation
);

@each $value in $touch-action-values {
  .touch-#{$value} {
    touch-action: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:touch-#{$value} {
      touch-action: $value;
    }
  }
}
