@use '../variables/breakpoints' as T;
@use '../variables/spacings' as spaces;

$widths: (
  96: spaces.$spacing-96,
  60: spaces.$spacing-60,
  48: spaces.$spacing-48,
  40: spaces.$spacing-40,
  36: spaces.$spacing-36,
  32: spaces.$spacing-32,
  28: spaces.$spacing-28,
  24: spaces.$spacing-24,
  20: spaces.$spacing-20,
  16: spaces.$spacing-16,
  12: spaces.$spacing-12,
  8: spaces.$spacing-8,
  6: spaces.$spacing-6,
  4: spaces.$spacing-4,
  2: spaces.$spacing-2,
  1: spaces.$spacing-1,
  0: spaces.$spacing-0
);

@each $name, $value in $widths {
  .w-#{$name} {
    width: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:w-#{$name} {
      width: $value;
    }
  }
}

$width-specials: (
  auto: auto,
  100: 100%,
  min: min-content,
  max: max-content,
  fit: fit-content,
  screen: 100vw
);

@each $name, $value in $width-specials {
  .w-#{$name} {
    width: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:w-#{$name} {
      width: $value;
    }
  }
}
