@use 'src/theme' as T;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 130rem;
  margin-inline: auto;
  padding: 0 2rem;
}

.containerCart {
  margin-left: auto;
  color: T.$color-dark;
  margin-bottom: 0.2rem;
  display: flex;
  transform: translate3d(-200%, 0, 0);
  animation:
    move-in 0.4s ease-in-out forwards,
    fade-in 0.2s linear;

  @include T.animation-move-in(0px, 0px, 0px);
  @include T.animation-fade-in;

  & > div {
    display: flex !important;
    align-items: center;
  }

  img {
    transform: translateY(0.3rem);
  }
}

.cart {
  text-align: right;
  font-size: T.$font-size-22;
  font-weight: 600;
  color: T.$color-primary;
  border: 0.2rem solid T.$color-secondary;
  border-radius: 1rem;
  padding: 1rem;
  width: fit-content;
  margin: 0 0 1.6rem 1rem;

  b {
    color: T.$color-dark;
    font-weight: 600;
    margin-left: 0.5rem;
  }
}
