@use '../variables/breakpoints' as T;
@use '../variables/colors' as colors;

$border-styles: (
  none: 0,
  error: 1.5px solid #{colors.$color-error},
  white: 2px solid #{colors.$color-white},
  secondary: 1.5px solid #{colors.$color-secondary},
  grey-light: 1px solid #{colors.$color-grey-light}
);

@each $style-name, $style-value in $border-styles {
  .border-#{$style-name} {
    border: #{$style-value};
  }
}

@each $breakpoint, $_ in T.$breakpoints {
  @each $style-name, $style-value in $border-styles {
    @include T.breakpoint($breakpoint) {
      .#{$breakpoint}:border-#{$style-name} {
        border: #{$style-value};
      }
    }
  }
}
