@use '../variables/breakpoints' as T;
@use '../variables/border-radius' as br;

$rounded: (
  circle: br.$border-radius-circle,
  60: br.$border-radius-60,
  32: br.$border-radius-32,
  24: br.$border-radius-24,
  20: br.$border-radius-20,
  16: br.$border-radius-16,
  12: br.$border-radius-12,
  8: br.$border-radius-8,
  6: br.$border-radius-6,
  4: br.$border-radius-4,
  2: br.$border-radius-2,
  0: br.$border-radius-0
);

@each $name, $size in $rounded {
  .rounded-#{$name} {
    border-radius: $size;
  }

  .rounded-tl-#{$name} {
    border-top-left-radius: $size;
  }

  .rounded-tr-#{$name} {
    border-top-right-radius: $size;
  }

  .rounded-br-#{$name} {
    border-bottom-right-radius: $size;
  }

  .rounded-bl-#{$name} {
    border-bottom-left-radius: $size;
  }

  .rounded-t-#{$name} {
    border-top-left-radius: $size;
    border-top-right-radius: $size;
  }

  .rounded-r-#{$name} {
    border-top-right-radius: $size;
    border-bottom-right-radius: $size;
  }

  .rounded-b-#{$name} {
    border-bottom-left-radius: $size;
    border-bottom-right-radius: $size;
  }

  .rounded-l-#{$name} {
    border-top-left-radius: $size;
    border-bottom-left-radius: $size;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    @include T.breakpoint($breakpoint) {
      .#{$breakpoint}:rounded-#{$name} {
        border-radius: $size;
      }

      .#{$breakpoint}:rounded-tl-#{$name} {
        border-top-left-radius: $size;
      }

      .#{$breakpoint}:rounded-tr-#{$name} {
        border-top-right-radius: $size;
      }

      .#{$breakpoint}:rounded-br-#{$name} {
        border-bottom-right-radius: $size;
      }

      .#{$breakpoint}:rounded-bl-#{$name} {
        border-bottom-left-radius: $size;
      }

      .#{$breakpoint}:rounded-t-#{$name} {
        border-top-left-radius: $size;
        border-top-right-radius: $size;
      }

      .#{$breakpoint}:rounded-r-#{$name} {
        border-top-right-radius: $size;
        border-bottom-right-radius: $size;
      }

      .#{$breakpoint}:rounded-b-#{$name} {
        border-bottom-left-radius: $size;
        border-bottom-right-radius: $size;
      }

      .#{$breakpoint}:rounded-l-#{$name} {
        border-top-left-radius: $size;
        border-bottom-left-radius: $size;
      }
    }
  }
}
