@use 'src/theme' as T;

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: T.$z-index-header;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 T.$spacing-20;
}

.nav {
  display: flex;
  width: 100%;
  background-color: T.$color-primary;
  height: 100%;
  align-items: center;
  border-bottom: 2px solid T.$color-secondary;
}

.logo {
  display: flex;

  div {
    position: relative;
    overflow: visible;
  }

  img {
    padding: 0 T.$spacing-20;
    object-fit: contain;
    opacity: 0;
    animation: move-up 0.3s ease-in forwards;

    @include T.animation-move-up;
  }
}
