@use 'src/theme' as T;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: T.$border-radius-circle;
  background: T.$color-soft-white-blue;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  border: 1.5px solid T.$color-secondary;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.text {
  color: T.$color-dark;
  font-size: T.$font-size-14;
  font-weight: T.$font-weight-700;
}
