@use 'src/theme' as T;

.container {
  display: flex;
  flex-direction: column;
  padding: T.$spacing-20;
  gap: T.$spacing-16;
  border-radius: T.$border-radius-20;
  box-shadow: T.$box-shadow-card;
  background-color: T.$color-bg-light-blue-hint;
}

.wrapper_thumbnail {
  position: relative;
  width: 100%;
  max-height: 216px;
  border-radius: T.$border-radius-12;
  overflow: hidden;
  aspect-ratio: 10/7;
}

.thumbnail {
  object-fit: cover;
}

.wrapper_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  gap: T.$spacing-4 T.$spacing-8;
  flex: 1;
}

.title {
  display: -webkit-box;
  width: fit-content;
  font-size: T.$font-size-16;
  font-weight: T.$font-weight-700;
  text-transform: uppercase;
  color: T.$color-primary;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.message_price {
  font-size: T.$font-size-12;

  b {
    font-size: T.$font-size-14;
    font-weight: T.$font-weight-600;
  }

  @include T.break-desktop {
    font-size: T.$font-size-14;

    b {
      font-size: T.$font-size-16;
    }
  }
}

.icon_button {
  > svg {
    color: T.$color-white;
    width: 12px;
    min-width: 12px;
    height: 12px;
    min-height: 12px;
  }
}

.footer_modal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: T.$spacing-16;
  padding: T.$spacing-12 T.$spacing-16;
  border-top: 1px solid T.$color-neutral-light-lavender;
  box-shadow: T.$box-shadow-sm;

  @include T.break-tablet {
    padding: T.$spacing-12 T.$spacing-24;
  }
}
