@use 'src/theme' as T;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 130rem;
  margin-inline: auto;
  padding: 0 2rem;
}

.zap {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
}

.titleComponent {
  color: T.$color-primary;
  font-weight: 700;
  font-size: T.$font-size-20;
  margin-bottom: 3rem;
  width: fit-content;
  animation:
    zoom 0.4s ease-in-out,
    fade-in 0.2s linear;

  @include T.animation-zoom;
  @include T.animation-fade-in;

  &::after {
    content: '';
    display: block;
    height: 0.5rem;
    width: 30%;
    background-color: T.$color-secondary;
    margin-top: 0.5rem;
    border-radius: 1rem;
  }
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  box-shadow:
    -0.6rem -0.6rem 1.6rem 0 T.$color-light,
    0.6rem 0.6rem 1.6rem 0 T.$color-box-shadow-dark;
}

.cardContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.containerSuccess {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerList {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid T.$color-secondary;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  opacity: 0;

  &:nth-child(1) {
    animation:
      zoom 0.4s ease-in-out,
      fade-in 0.1s linear forwards;
    animation-delay: 100ms;

    @include T.animation-zoom;
    @include T.animation-fade-in;
  }

  &:nth-child(2) {
    animation:
      zoom 0.4s ease-in-out,
      fade-in 0.1s linear forwards;
    animation-delay: 300ms;

    @include T.animation-zoom;
    @include T.animation-fade-in;
  }

  &:nth-child(3) {
    animation:
      zoom 0.4s ease-in-out,
      fade-in 0.1s linear forwards;
    animation-delay: 500ms;

    @include T.animation-zoom;
    @include T.animation-fade-in;
  }

  &:nth-child(4) {
    animation:
      zoom 0.4s ease-in-out,
      fade-in 0.1s linear forwards;
    animation-delay: 700ms;

    @include T.animation-zoom;
    @include T.animation-fade-in;
  }

  p,
  li {
    word-break: break-word;
  }

  @include T.breakpoint-min('custom', 370px) {
    width: calc(50% - 1.5rem);
  }

  @include T.breakpoint-min('custom', 650px) {
    width: calc(25% - 1.5rem);
  }
}

.btnSend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: T.$spacing-8;
  font-size: T.$font-size-18;
  text-transform: uppercase;
  background-color: T.$color-secondary;
  padding: 1rem 3rem;
  margin: 1.5rem auto 0 auto;
  font-weight: 700;
  border-radius: 1rem;
  transition: background-color 0.2s linear;
  animation:
    zoom 0.6s ease-in-out,
    fade-in 0.2s linear forwards;

  @include T.animation-zoom;
  @include T.animation-fade-in;
}

.title {
  font-weight: 700;
  color: T.$color-primary;
  font-size: T.$font-size-18;
  margin-bottom: 0.3rem;
}

.wrapperBtn {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2rem 0 3rem 0;
  flex-wrap: nowrap;
  justify-content: space-between;
}
