@use 'src/theme' as T;

.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: T.$z-index-overlay;

  @include T.break-tablet {
    padding: T.$spacing-16 !important;
  }
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.show_overlay {
  visibility: visible;
  opacity: 0.6;
  background-color: T.$color-dark;
}

.hidden_overlay {
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  margin: auto;
  background-color: T.$color-light;
  box-shadow: T.$box-shadow-xxl;
  z-index: T.$z-index-modal;
  transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);

  @include T.break-tablet {
    border-radius: T.$border-radius-16 !important;
    height: fit-content !important;
    min-height: fit-content !important;
  }
}

.show_modal {
  visibility: visible;
  transform: translateY(0);

  @include T.break-tablet {
    opacity: 1;
  }
}

.hidden_modal {
  visibility: hidden;
  transform: translateY(100%);

  @include T.break-tablet {
    opacity: 0.6;
  }
}

.wrapper_close_button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  @include T.break-tablet {
    max-height: 80vh;
  }
}

.description {
  margin-top: T.$spacing-8;
  font-size: T.$font-size-16;

  @include T.break-tablet {
    margin-top: T.$spacing-16;
  }
}

.header {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: T.$spacing-40;
  min-height: T.$spacing-40;
  box-shadow: T.$box-shadow-sm;
  z-index: T.$z-index-header;
}

.title_header {
  font-size: T.$font-size-16;
  font-weight: T.$font-weight-600;
  text-transform: uppercase;
  padding: 0 54px;
}

.icon_button_header {
  position: absolute;
  top: 0;
}

.icon_left {
  left: T.$spacing-12;
}

.icon_right {
  right: T.$spacing-12;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: T.$z-index-base;
}
