@use 'src/theme' as T;

.checked {
  color: T.$color-dark-grey;
  width: 16px;
  min-width: 16px;
  height: 16px;
  min-height: 16px;
}

.containerSteps {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 130rem;
  padding: 0 2rem;
  margin: 20px auto 0;
}

.containerLine {
  display: flex;
  flex-direction: row;
  padding: 0 1.1rem;
  justify-content: center;
  margin-top: 2.1rem;
  margin-bottom: -2.1rem;
}

.lineStep {
  flex: 1;
  height: 0.4rem;
  animation: zoom 0.3s ease-in;

  @include T.animation-zoom;
}

.containerRounded {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: T.$font-size-20;
  font-weight: 700;
  z-index: 10;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: T.$color-box-shadow-dark;
  cursor: not-allowed;
  animation: zoom 0.3s ease-in;

  @include T.animation-zoom;
}

.active {
  background-color: T.$color-secondary;
  cursor: pointer;
  transition:
    transform,
    background-color,
    0.3s linear;

  &:hover {
    transform: scale(1.1);
    background-color: T.$color-secondary-hover;
  }
}
