@use 'src/theme' as T;

.fade_enter {
  animation: toast-in 0.5s ease-in-out forwards;

  @include T.animation-toast-in;
}

.fade_exit {
  animation: toast-out 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76) forwards;

  @include T.animation-toast-out;
}

.icon {
  &--success {
    fill: T.$color-success;
  }

  &--error {
    fill: T.$color-error;
  }

  &--warning {
    fill: T.$color-warning;
  }

  &--info {
    fill: T.$color-info;
  }
}

.progress {
  animation: progress 7s linear forwards;

  @include T.animation-progress;

  &--success {
    background-color: T.$color-success;
  }

  &--error {
    background-color: T.$color-error;
  }

  &--warning {
    background-color: T.$color-warning;
  }

  &--info {
    background-color: T.$color-info;
  }
}
