@use '../variables/breakpoints' as T;

$line-height-values: (
  none: 1,
  tight: 1.25,
  snug: 1.375,
  normal: 1.5,
  relaxed: 1.625,
  loose: 2
);

@each $name, $value in $line-height-values {
  .leading-#{$name} {
    line-height: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:leading-#{$name} {
      line-height: $value;
    }
  }
}
