@use '../variables/breakpoints' as T;

@mixin line-clamp($lines) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

@for $i from 1 through 6 {
  .line-clamp-#{$i} {
    @include line-clamp($i);
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:line-clamp-#{$i} {
      @include line-clamp($i);
    }
  }
}

.line-clamp-none {
  overflow: visible;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: none;
}

@each $breakpoint, $_ in T.$breakpoints {
  .#{$breakpoint}:line-clamp-none {
    overflow: visible;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: none;
  }
}
