@use '../variables/spacings' as sp;
@use '../variables/grids' as grids;
@use '../variables/breakpoints' as T;

@mixin container-width {
  display: flex;
  width: min(
    100% - #{sp.$spacing-32},
    #{grids.$container-max-width} - #{sp.$spacing-32}
  );

  @include T.break-tablet {
    width: min(
      100% - #{sp.$spacing-48},
      #{grids.$container-max-width} - #{sp.$spacing-48}
    );
  }
}

.container-col {
  flex-direction: column;

  @include container-width;
}

.container-row {
  flex-flow: row wrap;

  @include container-width;
}

.col-full {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row-full {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@each $breakpoint, $_ in T.$breakpoints {
  .#{$breakpoint}:col-full {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .#{$breakpoint}:row-full {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .#{$breakpoint}:col {
    display: flex;
    flex-direction: column;
  }

  .#{$breakpoint}:row {
    display: flex;
    flex-flow: row wrap;
  }
}
