@use 'src/theme' as T;

%container-width {
  display: flex;
  width: min(
    100% - #{T.$spacing-32},
    #{T.$container-max-width} - #{T.$spacing-32}
  );

  @include T.break-tablet {
    width: min(
      100% - #{T.$spacing-48},
      #{T.$container-max-width} - #{T.$spacing-48}
    );
  }
}

.container-col {
  flex-direction: column;

  @extend %container-width;
}

.container-row {
  flex-flow: row wrap;

  @extend %container-width;
}

%row {
  display: flex;
  flex-flow: row wrap;
}

%col {
  display: flex;
  flex-direction: column;
}

.full-w-col {
  width: 100%;

  @extend %col;
}

.full-w-row {
  width: 100%;

  @extend %row;
}

.flex-row {
  @extend %row;
}

.flex-column {
  @extend %col;
}
