@use '../variables/breakpoints' as T;

// flex-grow

.grow-1 {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

$grow-values: (1, 0);

@each $breakpoint, $_ in T.$breakpoints {
  @each $grow in $grow-values {
    @include T.breakpoint($breakpoint) {
      .#{$breakpoint}:grow-#{$grow} {
        flex-grow: $grow;
      }
    }
  }
}

// flex-shrink

.shrink-1 {
  flex-shrink: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

$shrink-values: (1, 0);

@each $breakpoint, $_ in T.$breakpoints {
  @each $shrink in $shrink-values {
    @include T.breakpoint($breakpoint) {
      .#{$breakpoint}:shrink-#{$shrink} {
        flex-shrink: $shrink;
      }
    }
  }
}

// flex-direction

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

$directions: (row, row-reverse, column, column-reverse);

@each $breakpoint, $_ in T.$breakpoints {
  @each $direction in $directions {
    @include T.breakpoint($breakpoint) {
      .#{$breakpoint}:flex-#{$direction} {
        flex-direction: $direction;
      }
    }
  }
}

// flex-wrap

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

$wraps: (wrap, wrap-reverse, nowrap);

@each $breakpoint, $_ in T.$breakpoints {
  @each $wrap in $wraps {
    @include T.breakpoint($breakpoint) {
      .#{$breakpoint}:flex-#{$wrap} {
        flex-wrap: $wrap;
      }
    }
  }
}
