@use 'src/theme' as T;

.label {
  display: flex;
  flex-flow: row nowrap;
  width: fit-content;
  height: fit-content;
  align-items: flex-start;
  justify-content: left;
  gap: T.$spacing-8;
  font-size: T.$font-size-14;
  cursor: pointer;
}

.input {
  width: 16px;
  min-width: 16px;
  height: 16px;
  min-height: 16px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid T.$color-light;
  background-color: T.$color-ultra-light-grey;
  border-radius: T.$border-radius-circle;
  outline: 1px solid T.$color-gray !important;
  transition: all 0.1s linear;

  &:hover:not(:disabled):not(:checked) {
    outline-color: T.$color-primary !important;
    background-color: T.$color-ultra-light-primary;
  }

  &:checked {
    outline-color: T.$color-primary !important;
    background-color: T.$color-primary;
    animation-name: outline-checked;
    animation-duration: 0.1s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-timing-function: linear;

    @include T.animation-outline-checked;
  }

  &:focus-visible {
    outline: 4px solid T.$color-ultra-light-primary !important;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;

  .input {
    background-color: T.$color-ultra-light-grey;
    border-color: T.$color-light;
    cursor: not-allowed;
  }
}
