$color-primary: #6e1111;
$color-ultra-light-primary: #8E404049;
$color-secondary: #34d399;
$color-secondary-hover: #3ce9a9;
$color-light: #fff;
$color-light-grey: #a0a6c6;
$color-bg-default: #f5f5ff;
$color-dark: #0e0c1b;
$color-dark-grey: #374151;
$color-gray: #5d6b81;
$color-box-shadow-dark: #e0e0ef;
$color-ultra-light-grey: #e7e7f6;
$color-focus: #007dfa99;
$color-cherry: #cb2342;
$color-error: #e92d2d;
$color-success: #0da877;
$color-warning: #ff7a00;
$color-info: #0084ff;
