$color-primary: #7f1d1d;
$color-secondary: #34d399;
$color-secondary-hover: #3ce9a9;
$color-light: #fff;
$color-light-grey: #a0a6c6;
$color-bg-default: #f5f5ff;
$color-dark: #222;
$color-dark-grey: #374151;
$color-box-shadow-dark: #e0e0ef;
$color-disabled: #e7e7f6;
$color-focus: #007dfa99;
$color-error: #e92d2d;
$color-green: #0da877;
$color-alert: #ff7a00;
$color-info: #0084ff;
