$color-primary: #6e1111;
$color-ultra-light-primary: #8E404049;
$color-secondary: #34d37e;
$color-light: #fff;
$color-light-grey: #a0a6c6;
$color-ultra-light: #f9f9ff;
$color-bg-default: #f5f5ff;
$color-dark: #0e0c1b;
$color-dark-grey: #374151;
$color-gray: #5d6b81;
$color-dark-translucency: #A0A6C647;
$color-box-shadow-dark: #e0e0ef;
$color-card: #f9f9ff;
$color-ultra-light-grey: #e7e7f6;
$color-green: #2bc990;
$color-cherry: #e2264d;
$color-error: #e92d2d;
$color-success: #0da877;
$color-warning: #ff7a00;
$color-info: #0084ff;
$color-focus: #007dfa99;
