@use './variables/breakpoints' as T;

@for $i from 1 through 12 {
  .columns-#{$i} {
    columns: $i;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:columns-#{$i} {
      columns: $i;
    }
  }
}

.columns-auto {
  columns: auto;
}

@each $breakpoint, $_ in T.$breakpoints {
  .#{$breakpoint}:columns-auto {
    columns: auto;
  }
}
