@use './variables/breakpoints' as T;
@use './variables/colors' as colors;

$fill-colors: (
  primary: colors.$color-primary,
  primary-dark-translucent: colors.$color-primary-dark-translucent,
  secondary: colors.$color-secondary,
  dark: colors.$color-dark,
  dark-translucency: colors.$color-dark-translucency,
  white: colors.$color-white,
  ultra-light: colors.$color-ultra-light,
  neutral-light-lavender: colors.$color-neutral-light-lavender,
  light-blue-hint: colors.$color-light-blue-hint,
  soft-white-blue: colors.$color-soft-white-blue,
  green: colors.$color-green,
  cherry: colors.$color-cherry,
  grey-dark: colors.$color-grey-dark,
  grey: colors.$color-grey,
  grey-light: colors.$color-grey-light,
  grey-ultra-light: colors.$color-grey-ultra-light,
  error: colors.$color-error,
  success: colors.$color-success,
  warning: colors.$color-warning,
  info: colors.$color-info,
  focus: colors.$color-focus,
  transparent: colors.$color-transparent
);

@each $name, $color in $fill-colors {
  .fill-#{$name} {
    fill: $color;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:fill-#{$name} {
      fill: $color;
    }
  }
}
