@use './variables/breakpoints' as T;

$place-content-values: (
  center: center,
  start: start,
  end: end,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
  baseline: baseline,
  stretch: stretch
);

@each $name, $value in $place-content-values {
  .place-content-#{$name} {
    place-content: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:place-content-#{$name} {
      place-content: $value;
    }
  }
}
