@use './variables/breakpoints' as T;

$shadow-values: (
  none: none,
  sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05),
  md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25),
  inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05),
  default: 0 1px 3px 0 rgba(0, 0, 0, 0.1)
);

@each $name, $value in $shadow-values {
  .shadow-#{$name} {
    box-shadow: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:shadow-#{$name} {
      box-shadow: $value;
    }
  }
}
