@use './variables/breakpoints' as T;
@use './variables/spacings' as spacings;

$sizes: (
  96: spacings.$spacing-96,
  60: spacings.$spacing-60,
  48: spacings.$spacing-48,
  40: spacings.$spacing-40,
  36: spacings.$spacing-36,
  32: spacings.$spacing-32,
  28: spacings.$spacing-28,
  24: spacings.$spacing-24,
  20: spacings.$spacing-20,
  16: spacings.$spacing-16,
  12: spacings.$spacing-12,
  8: spacings.$spacing-8,
  6: spacings.$spacing-6,
  4: spacings.$spacing-4,
  2: spacings.$spacing-2,
  1: spacings.$spacing-1,
  0: spacings.$spacing-0
);

@each $name, $value in $sizes {
  .size-#{$name} {
    width: $value;
    min-width: $value;
    height: $value;
    min-height: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:size-#{$name} {
      width: $value;
      min-width: $value;
      height: $value;
      min-height: $value;
    }
  }
}
