@layer base {
  * {
    outline: none;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    @apply m-0 box-border list-none p-0 font-sans no-underline antialiased;
  }

  @media (prefers-reduced-motion: reduce) {
    body *,
    body *::before,
    body *::after {
      transition-delay: -1ms !important;
      transition-duration: 1ms !important;
      animation-duration: 1ms !important;
      animation-delay: -1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
    }
  }

  body {
    @apply isolate min-h-screen bg-soft-white-blue pb-12 col-full jc-start tx-dark;

    @screen sm {
      @apply pb-0;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply break-words;
  }

  b,
  strong {
    @apply font-bold;
  }

  optgroup,
  body,
  input,
  select,
  textarea,
  button {
    @apply m-0 font-sans font-medium fs-base;
  }

  button {
    @apply cursor-pointer border-0;
  }

  a,
  a:active {
    @apply no-underline;
  }

  :focus,
  :focus-visible {
    @apply otl-4-focus otl-o-1;
  }

  :focus:not(:focus-visible) {
    @apply otl-0;
  }

  mark {
    &::before,
    &::after {
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(100%);
      content: ' [start of highlighted text] ';
      @apply absolute h-px w-px ov-hidden whitespace-nowrap;
    }

    &::after {
      content: ' [end of highlighted text] ';
    }
  }

  ::-webkit-scrollbar,
  scrollbar-width {
    @apply w-3 bg-soft-white-blue;
  }

  ::-webkit-scrollbar-thumb {
    @apply br-5 bw-soft-white-blue bg-grey-light-500;
  }

  :root {
    scrollbar-color: rgba(160, 166, 198, 1) rgba(245, 245, 255, 1) !important;
    scrollbar-width: 12px !important;
  }
}
