@use 'src/theme' as T;

.container {
  display: flex;
  flex-direction: column;
  width: min(
    100% - #{T.$spacing-32},
    #{T.$container-max-width} - #{T.$spacing-32}
  );
  margin: T.$spacing-48 auto;
  gap: T.$spacing-48;

  @include T.breakpoint-min('tablet') {
    width: min(
      100% - #{T.$spacing-48},
      #{T.$container-max-width} - #{T.$spacing-48}
    );
  }
}
