@use 'src/theme' as T;

.container {
  display: flex;
  flex-direction: column;
  width: min(
    100% - #{T.$spacing-32},
    #{T.$container-max-width} - #{T.$spacing-32}
  );
  margin: T.$spacing-48 auto;
  gap: T.$spacing-48;

  @include T.breakpoint-min('tablet') {
    width: min(
      100% - #{T.$spacing-48},
      #{T.$container-max-width} - #{T.$spacing-48}
    );
  }
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: T.$spacing-20;

  @include T.breakpoint-min('custom', 760px) {
    gap: T.$spacing-32;
  }
}

.title {
  width: fit-content;
  font-size: T.$font-size-20;
  font-weight: T.$font-weight-700;
  text-transform: uppercase;
  color: T.$color-primary;

  &::after {
    content: '';
    display: block;
    width: 30%;
    height: 4px;
    background-color: T.$color-secondary;
    border-radius: T.$border-radius-4;
    margin-top: T.$spacing-8;
  }

  @include T.breakpoint-min('custom', 760px) {
    font-size: T.$font-size-30;
  }
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: T.$spacing-16;

  @include T.breakpoint-min('custom', 760px) {
    grid-template-columns: 1fr 1fr;
    gap: T.$spacing-24;
  }
}
