@use 'src/theme' as T;

.container {
  opacity: 0;
  visibility: hidden;
  animation:
    visibility 0.1s 3s linear forwards,
    move-up 0.4s 3s ease-in-out forwards;

  @include T.animation-visibility;
  @include T.animation-move-up;
}
