@use 'src/theme' as T;

.titleComponent {
  color: T.$color-primary;
  font-weight: 700;
  font-size: T.$font-size-22;
  margin-bottom: 1.6rem;
  width: fit-content;
  animation:
    zoom 0.4s ease-in-out forwards,
    fade-in 0.2s linear forwards;

  @include T.animation-zoom;
  @include T.animation-fade-in;

  &::after {
    content: '';
    display: block;
    height: 0.5rem;
    width: 30%;
    background-color: T.$color-secondary;
    margin-top: 0.5rem;
    border-radius: 1rem;
  }
}

.containerCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow:
    -0.6rem -0.6rem 1.6rem 0 T.$color-light,
    0.6rem 0.6rem 1.6rem 0 T.$color-box-shadow-dark;
  width: 100%;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  transition: border-color 0.2s linear;
  opacity: 0;

  &:nth-child(1) {
    animation:
      zoom 0.4s ease-in-out,
      fade-in 0.1s linear forwards;
    animation-delay: 100ms;

    @include T.animation-zoom;
    @include T.animation-fade-in;
  }

  &:nth-child(2) {
    animation-delay: 300ms;
    animation:
      zoom 0.4s ease-in-out,
      fade-in 0.1s linear forwards;

    @include T.animation-zoom;
    @include T.animation-fade-in;
  }

  &:nth-child(3) {
    animation-delay: 500ms;
    animation:
      zoom 0.4s ease-in-out,
      fade-in 0.1s linear forwards;

    @include T.animation-zoom;
    @include T.animation-fade-in;
  }

  &:nth-child(4) {
    animation-delay: 700ms;
    animation:
      zoom 0.4s ease-in-out,
      fade-in 0.1s linear forwards;

    @include T.animation-zoom;
    @include T.animation-fade-in;
  }

  &:hover {
    border: 0.2rem solid T.$color-secondary !important;
  }

  @include T.breakpoint-min('custom', 540px) {
    padding: 1.6rem 2rem;
  }

  @include T.breakpoint-min('custom', 700px) {
    width: calc(50% - 1rem);
  }

  @include T.breakpoint-min('custom', 1300px) {
    width: calc(50% - 2rem);
    margin-bottom: 3rem;
  }
}

.containerImg {
  overflow: hidden;
  border-radius: 10px;
  width: 90px;
  min-width: 90px;
  height: 90px;
  position: relative;
}

.image {
  object-fit: cover;
  object-position: center;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  width: 100%;
  justify-content: flex-start;

  em {
    display: none;
    color: T.$color-primary;
    font-size: T.$font-size-12;
  }

  @include T.breakpoint-min('custom', 540px) {
    font-size: T.$font-size-12;
  }
}

.bonus {
  border: 0.2rem solid T.$color-primary;
  border-radius: 8px;
  padding: 1px 5px 5px 5px;

  em {
    display: flex;
  }
}

.contentInfo {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: 700;
  color: T.$color-primary;
  font-size: T.$font-size-15;
  text-transform: uppercase;
  margin: 0;
  align-items: baseline;

  b {
    margin-right: 7px;
  }

  @include T.breakpoint-min('custom', 540px) {
    font-size: T.$font-size-18;
  }
}

.subTitle {
  color: T.$color-dark;
  font-size: T.$font-size-12;
  font-weight: 600;
  margin: 0;

  @include T.breakpoint-min('custom', 540px) {
    font-size: T.$font-size-14;
  }
}

.text {
  font-size: T.$font-size-13;
  margin: 0;
  line-height: 1.2;

  @include T.breakpoint-min('custom', 540px) {
    font-size: T.$font-size-15;
    line-height: 1.5;
  }
}

.containerCheckbox {
  display: flex;
  height: fit-content;
  margin: auto 5px auto -10px;

  input {
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: none;
  }
}

.hidden {
  display: none;
}

.wrapperBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  margin: 2rem 0 3rem 0;
}

.space {
  width: 100%;
  max-width: 2rem;
}
