@use 'src/theme' as T;

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: T.$z-index-bottom-bar;
  background-color: T.$color-light;

  @include T.breakpoint-min('tablet') {
    display: none;
  }
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: min(
    100% - #{T.$spacing-32},
    #{T.$container-max-width} - #{T.$spacing-32}
  );
  margin-inline: auto;
  height: 100%;

  @include T.breakpoint-min('tablet') {
    width: min(
      100% - #{T.$spacing-48},
      #{T.$container-max-width} - #{T.$spacing-48}
    );
  }
}

.wrapper_right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: T.$spacing-24;
}
