@use 'src/theme' as T;

.container {
  visibility: hidden;
  opacity: 0;
  animation:
    visibility 0.5s linear forwards,
    move-up 0.5s ease-in-out forwards;

  @include T.animation-visibility;
  @include T.animation-move-up;

  @include T.break-tablet {
    display: none;
  }
}

.wrapper {
  li,
  li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }

  li > a > span {
    font-size: T.$font-size-12;
    font-weight: T.$font-weight-600;
    color: T.$color-grey-dark;
    letter-spacing: 0.3px;
  }

  li > a > svg {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    color: T.$color-grey;
  }
}

.active {
  > svg {
    color: T.$color-green !important;
  }
}
