@use '../variables/breakpoints' as T;

.auto-cols-auto {
  grid-auto-columns: auto;
}

.auto-cols-min {
  grid-auto-columns: min-content;
}

.auto-cols-max {
  grid-auto-columns: max-content;
}

.auto-cols-fr {
  grid-auto-columns: minmax(0, 1fr);
}

$auto-cols: (
  auto: auto,
  min: min-content,
  max: max-content,
  fr: minmax(0, 1fr)
);

@each $breakpoint, $_ in T.$breakpoints {
  @each $auto-col-name, $auto-col-value in $auto-cols {
    @include T.breakpoint($breakpoint) {
      .#{$breakpoint}:auto-cols-#{$auto-col-name} {
        grid-auto-columns: $auto-col-value;
      }
    }
  }
}
