@use '../variables/breakpoints' as T;

.auto-rows-auto {
  grid-auto-rows: auto;
}

.auto-rows-min {
  grid-auto-rows: min-content;
}

.auto-rows-max {
  grid-auto-rows: max-content;
}

.auto-rows-fr {
  grid-auto-rows: minmax(0, 1fr);
}

$auto-rows: (
  auto: auto,
  min: min-content,
  max: max-content,
  fr: minmax(0, 1fr)
);

@each $breakpoint, $_ in T.$breakpoints {
  @each $auto-row-name, $auto-row-value in $auto-rows {
    @include T.breakpoint($breakpoint) {
      .#{$breakpoint}:auto-rows-#{$auto-row-name} {
        grid-auto-rows: $auto-row-value;
      }
    }
  }
}
