@use 'src/theme' as T;

.wrapper_thumbnail {
  position: relative;
  margin-bottom: T.$spacing-12;
  overflow: hidden;
  aspect-ratio: 600/317;
}

.icon_button_favorite {
  position: absolute;
  top: T.$spacing-8;
  right: T.$spacing-8;
  z-index: T.$z-index-base;
}

.thumbnail {
  object-fit: cover;
}

.wrapper_info {
  display: flex;
  flex-direction: column;
  gap: T.$spacing-16;
  padding: T.$spacing-8 T.$spacing-16;

  @include T.break-tablet {
    padding: T.$spacing-12 T.$spacing-24;
  }
}

.product_title {
  width: fit-content;
  font-size: T.$font-size-20;
  font-weight: T.$font-weight-700;
  text-transform: uppercase;
  color: T.$color-primary;

  &::after {
    content: '';
    display: block;
    width: 30%;
    height: 4px;
    background-color: T.$color-secondary;
    border-radius: 4px;
    margin-top: 8px;
  }
}

.product_description {
  font-size: T.$font-size-16;
  font-weight: T.$font-weight-500;
  color: T.$color-dark-grey;
  padding-bottom: T.$spacing-12;
}
