@use 'src/theme' as T;

.counter_button {
  transition: background-color 0.2s linear;

  &:hover:not(:disabled) {
    background-color: T.$color-grey-ultra-light;
  }

  &:active:not(:disabled) {
    background-color: T.$color-ultra-light;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
