$breakpoints: (
  'xs': '440px',
  'sm': '640px',
  'md': '768px',
  'lg': '1024px',
  'xl': '1280px'
);

@mixin breakpoint($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

$tablet: 600px;
$desktop: 1024px;

@mixin break-custom($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin break-tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin break-desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin break-custom-max($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin break-tablet-max {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin break-desktop-max {
  @media (max-width: $desktop) {
    @content;
  }
}
