$color-primary: rgba(110, 17, 17, 1);
$color-primary-dark-translucent: rgba(142, 64, 64, 0.29);
$color-secondary: rgba(52, 211, 126, 1);

$color-dark: rgba(14, 12, 27, 1);
$color-dark-translucency: rgba(160, 166, 198, 0.28);

$color-white: rgba(255, 255, 255, 1);
$color-ultra-light: rgba(249, 249, 255, 1);
$color-neutral-light-lavender: rgba(224, 224, 239, 1);
$color-light-blue-hint: rgba(249, 249, 255, 1);
$color-soft-white-blue: rgba(245, 245, 255, 1);

$color-green: rgba(43, 201, 144, 1);
$color-cherry: rgba(226, 38, 77, 1);

$color-grey-dark: rgba(55, 65, 81, 1);
$color-grey: rgba(93, 107, 129, 1);
$color-grey-light: rgba(160, 166, 198, 1);
$color-grey-ultra-light: rgba(231, 231, 246, 1);

$color-error: rgba(233, 45, 45, 1);
$color-success: rgba(13, 168, 119, 1);
$color-warning: rgba(255, 122, 0, 1);
$color-info: rgba(0, 132, 255, 1);

$color-focus: rgba(0, 125, 250, 0.6);
$color-transparent: transparent;
