:root {
  --color-primary: hsl(0 73% 25% / 1);
  --color-primary-dark-translucent: hsl(0 38% 40% / 0.29);
  --color-secondary: hsl(148 64% 52% / 1);

  --color-dark: hsl(248 38% 8% / 1);
  --color-dark-translucency: hsl(231 25% 70% / 0.28);

  --color-white: hsl(0 0% 100% / 1);
  --color-ultra-light: hsl(240 100% 99% / 1);
  --color-neutral-light-lavender: hsl(240 32% 91% / 1);
  --color-light-blue-hint: hsl(240 100% 99% / 1);
  --color-soft-white-blue: hsl(240 100% 98% / 1);

  --color-green: hsl(158 65% 48% / 1);
  --color-cherry: hsl(348 76% 52% / 1);

  --color-grey-dark: hsl(217 19% 27% / 1);
  --color-grey: hsl(217 16% 44% / 1);
  --color-grey-light: hsl(231 25% 70% / 1);
  --color-grey-ultra-light: hsl(240 45% 94% / 1);

  --color-error: hsl(0 81% 55% / 1);
  --color-success: hsl(161 86% 35% / 1);
  --color-warning: hsl(29 100% 50% / 1);
  --color-info: hsl(209 100% 50% / 1);

  --color-focus: hsl(210 100% 49% / 0.6);
  --color-transparent: transparent;
}
