@use '../variables/breakpoints' as T;

$justify-self-values: (
  auto: auto,
  start: start,
  end: end,
  center: center,
  stretch: stretch
);

@each $name, $value in $justify-self-values {
  .js-#{$name} {
    justify-self: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:js-#{$name} {
      justify-self: $value;
    }
  }
}
