@use '../variables/breakpoints' as T;

$justify-items-values: (
  start: start,
  end: end,
  center: center,
  stretch: stretch
);

@each $name, $value in $justify-items-values {
  .ji-#{$name} {
    justify-items: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:ji-#{$name} {
      justify-items: $value;
    }
  }
}
