@use '../variables/breakpoints' as T;

$justify-content-values: (
  normal: normal,
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
  stretch: stretch
);

@each $name, $value in $justify-content-values {
  .jc-#{$name} {
    justify-content: $value;
  }

  @each $breakpoint, $_ in T.$breakpoints {
    .#{$breakpoint}:jc-#{$name} {
      justify-content: $value;
    }
  }
}
