@use 'src/theme' as T;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  background-color: T.$color-white;
  border-radius: T.$border-radius-circle;

  svg {
    cursor: pointer;
    overflow: visible;
    width: 28px;
    min-width: 28px;
    height: 28px;
    min-height: 28px;
  }
}

.heart {
  transform-origin: center;
  animation: favorite-animate-heart-out 0.3s linear forwards;
}

.main_circ {
  transform-origin: 29.5px 29.5px;
}

.checked {
  .heart {
    transform: scale(0.2);
    fill: T.$color-cherry;
    animation: favorite-animate-heart 0.3s linear forwards 0.25s;
  }

  .main_circ {
    transition: all 2s;
    animation: favorite-animate-circle 0.3s linear forwards;
    opacity: 1;
  }

  .grp1,
  .grp2,
  .grp3,
  .grp4,
  .grp5,
  .grp6,
  .grp7 {
    opacity: 1;
    transition: 0.1s all 0.3s;

    .oval1 {
      transform-origin: 0 0 0;
      transition: 0.5s transform 0.3s;
    }

    .oval2 {
      transform-origin: 0 0 0;
      transition: 1.5s transform 0.3s;
    }
  }

  .grp1 {
    .oval1 {
      transform: scale(0) translate(0, -30px);
    }

    .oval2 {
      transform: scale(0) translate(10px, -50px);
    }
  }

  .grp2 {
    .oval1 {
      transform: scale(0) translate(30px, -15px);
    }

    .oval2 {
      transform: scale(0) translate(60px, -15px);
    }
  }

  .grp3 {
    .oval1 {
      transform: scale(0) translate(30px, 0px);
    }

    .oval2 {
      transform: scale(0) translate(60px, 10px);
    }
  }

  .grp4 {
    .oval1 {
      transform: scale(0) translate(30px, 15px);
    }

    .oval2 {
      transform: scale(0) translate(40px, 50px);
    }
  }

  .grp5 {
    .oval1 {
      transform: scale(0) translate(-10px, 20px);
    }

    .oval2 {
      transform: scale(0) translate(-60px, 30px);
    }
  }

  .grp6 {
    .oval1 {
      transform: scale(0) translate(-30px, 0px);
    }

    .oval2 {
      transform: scale(0) translate(-60px, -5px);
    }
  }

  .grp7 {
    .oval1 {
      transform: scale(0) translate(-30px, -15px);
    }

    .oval2 {
      transform: scale(0) translate(-55px, -30px);
    }
  }
}

@keyframes favorite-animate-circle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes favorite-animate-heart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes favorite-animate-heart-out {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
