@use 'src/theme' as T;

.textarea {
  &::placeholder {
    color: T.$color-grey-light;
    font-weight: T.$font-weight-500;
  }

  &:hover {
    border: 1px solid T.$color-grey-dark;
  }

  &:focus {
    border: 1px solid T.$color-grey-light;
    outline-color: T.$color-secondary;
    outline-width: 1.5px;
    outline-offset: -2px;
  }
}
// TODO: corrigir outline verde com error em vez de vermelho
